{% extends "skeleton.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock styles %}
{% block content %}
    <img class="mx-auto d-block logo" width="256px" height="256px" src="{{ url_for('static', filename='images/logo.png') }}">
    <p class="text-center title">Synchronize the speed of Gifs to music on Spotify in real time</p>
    <p class="text-left header">What is GifSync?</p>
    <p class="text-left textblock">
        GifSync started out as a simple question: "How do I get
        <a target="_blank" rel="noopener noreferrer"
           href="{{ url_for('static', filename='images/hat-kid-smug-dance.gif') }}">Hat Kid</a> to dance to my music
        while I stream?" The answer to this question quickly turned into a long and convoluted dive into APIs, gif
        frame-times, and web servers. However, through <b>THE POWER OF THE INTERNET!!</b> (and a ton of
        duck-duck-go'ing) I was able to pull it off with as best of accuracy as I could.<br><br>Best of all, it works
        with any gif! I wanted to share this with others so that no matter what your experience level is in
        programming, you too can experience gifs that dance to your music in real time.<br><br>If you're interested in
        reading the source code, or want to contribute to the development of GifSync, see the
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Septem151/gifsync">GitHub Repository</a>.
    <p class="text-left header">How does it work?</p>
    <p class="text-left textblock">
        GifSync utilizes the
        <a target="_blank" rel="noopener noreferrer" href="https://developer.spotify.com/documentation/web-api/">
            Spotify API</a>
        to retrieve your currently playing song and modifies your gif to loop to the beat.<br><br>In more detail,
        GifSync uses an OAuth2 token provided by Spotify which is then used to periodically request your currently
        playing song. Then, the song’s BPM is requested from Spotify. Using the BPM, the Beats/Second is calculated,
        which in turn finds the Milliseconds/Beat. The Milliseconds/Beat is multiplied by the Beats/Loop (of the gif
        you’ve specified) to find the Milliseconds/Loop, and finally the frame times in the gif are adjusted to match
        as accurately as possible. This results in a gif that will loop every X beats of the currently playing song.
    </p>
    <p class="text-left header">How do I get started?</p>
    <p class="text-left textblock">
        Easy! You must allow GifSync to access your currently playing songs by clicking the “Connect Spotify” button at
        the top of this page. From there, upload the gif you want to sync, specify the number of Beats per loop of the
        gif, and <b>PRESTO!</b> A synced version of your gif will be displayed and will continuously update with your
        music until you leave the page or select a new gif.<br><br>If at any time you wish to revoke this site’s
        permission to see your currently playing song, visit your
        <a target="_blank" rel="noopener noreferrer" href="https://spotify.com/account/">
            Spotify Account</a>
        page and remove GifSync’s access. If you wish to only have this site forget your Authorization token and synced
        Gifs, click on “Forget me” on the top of the page.
    </p>
{% endblock content %}