{% extends "skeleton.html" %}
{% block styles %}
    <!-- Link the css file specifically for this page -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/collection.css') }}">
{% endblock styles %}
{% block content %}
    <div class="row top-bar">
            <p class="header col-auto my-auto">Your beautiful creations</p>
        <a class="col-auto ml-3 my-3 btn btn-custom-green shadow-none" type="button"
           href="{{ url_for('create') }}">
            Sync a new gif
        </a>
    </div>
    <div class="row">
        {% for image in images %}
        <div class="col col-6 col-sm-4 col-md-3 mb-3">
            <a href="#">
                <img class="framed-image" src="{{ image['src'] }}">
            </a>
            <p class="image-label">{{ image['label'] }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
