{% extends "skeleton.html" %} {% block styles %}
<!-- Link the css file specifically for this page -->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/show.css') }}"
/>
{% endblock styles %} {% block content %}
<img id="synced-image" class="synced-image mx-auto d-block" src="" />
<p class="header text-center margin-btm">{{ gif.name }}</p>
<p class="sub-header text-center">Now Playing:</p>
<p id="song-name" class="header text-center"></p>
<p id="song-tempo" class="sub-header text-center margin-btm"></p>
<div id="edit-choice" class="row justify-content-center">
  <p class="header my-auto">Want to make a change?</p>
  <p id="edit-btn" class="ml-3 my-3 btn btn-custom-green shadow-none">
    Edit gif
  </p>
</div>
<div id="edit-form" style="display: none">
  <div class="row justify-content-center">
    <div class="form-group">
      <p class="sub-header text-center mb-1">Beats per loop</p>
      <div class="col">
        <input
          class="form-control"
          id="beats-per-loop"
          name="beats-per-loop"
          type="number"
          value="{{ gif.beats_per_loop }}"
        />
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <p class="sub-header text-center mb-1">Gif Name</p>
      <div class="col">
        <input
          class="form-control"
          id="gif-name"
          name="gif-name"
          placeholder="Name of Gif"
          type="text"
          value="{{ gif.name }}"
        />
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <p class="sub-header text-center mb-1">Custom Tempo</p>
      <div class="col">
        {% if gif.custom_tempo != None %}
        <input
          class="form-control"
          id="gif-tempo"
          name="gif-tempo"
          type="number"
          step="0.01"
          min="0"
          value="{{ gif.custom_tempo }}"
        />
        {% else %}
        <input
          class="form-control"
          id="gif-tempo"
          name="gif-tempo"
          type="number"
          step="0.01"
          min="0"
        />
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <p id="apply-btn" class="btn btn-custom-green shadow-none">Apply</p>
  </div>
</div>
<div class="row justify-content-center">
  <p class="header my-auto margin-left">Sync another?</p>
  <a
    class="my-3 btn btn-custom-green margin-left shadow-none"
    type="button"
    href="{{ url_for('create') }}"
  >
    Click here!
  </a>
</div>
<div class="row justify-content-center mb-4">
  <p class="header my-auto margin-left">Not satisfied?</p>
  <a
    class="my-3 btn btn-custom-red margin-left shadow-none"
    type="button"
    href="{{ url_for('api_delete_gif', id=gif.id) }}"
  >
    Delete gif
  </a>
</div>
{% endblock content %} {% block js %}

<script>
  let default_timeout = 5000;
  let timeout = default_timeout;
  let base_synced_gif_url = {{ url_for('api_synced_gif', gif_id=gif.id)|tojson }};
  let base_song_url = {{ url_for('api_curr_song')|tojson }};
  let base_image_url = {{ url_for('api_user_image', gif_id=gif.id)|tojson }};
  let base_show_url = {{ url_for('show')|tojson }};
  let base_edit_url = {{ url_for('api_edit_gif', id=gif.id)|tojson }};
  let custom_tempo = {{ gif.custom_tempo|tojson }};
  let current_gif_name = {{ gif.name|tojson }};
  let current_gif_bpl = {{ gif.beats_per_loop }};
  let curr_song_id = "none";
  let custom_tempo_flag = true;

  function updateLoop() {
    $.ajax({
      method: "GET",
      url: base_song_url,
    }).done(updateSong);
  }

  function updateSong(data) {
    let song_id = data["id"];
    if (custom_tempo !== null) {
      timeout = default_timeout;
      if (custom_tempo_flag) {
        custom_tempo_flag = false;
        updateGif();
        updateSongText("Custom Tempo", null, custom_tempo);
      }
    } else if (custom_tempo_flag && custom_tempo === null) {
      custom_tempo_flag = false;
      if (song_id) {
        curr_song_id = song_id;
      }
      if ("paused" in data) {
        timeout = default_timeout;
        if (curr_song_id === "none" || curr_song_id !== "placeholdersong") {
          curr_song_id = "placeholdersong";
          updateGif();
          updateSongText(null, null, null);
        }
      } else {
        updateGif();
        updateSongText(data["name"], data["artists"], parseFloat(data["tempo"]));
      }
    } else if ("paused" in data) {
      timeout = default_timeout;
      if (curr_song_id === "none" || curr_song_id !== "placeholdersong") {
        curr_song_id = "placeholdersong";
        updateGif();
        updateSongText(null, null, null);
      }
    } else {
      let time_remaining = parseInt(data["remaining_ms"]);
      if (time_remaining < default_timeout) {
        timeout = time_remaining + 1500;
      } else {
        timeout = default_timeout;
      }
      if (curr_song_id !== song_id) {
        curr_song_id = song_id;
        updateGif();
        updateSongText(data["name"], data["artists"], parseFloat(data["tempo"]));
      }
    }
    setTimeout(updateLoop, timeout);
  }

  function updateGif() {
    image_url = base_synced_gif_url;
    if (curr_song_id !== "placeholdersong") {
      image_url += "&song_id=" + curr_song_id;
      image_url += "#" + new Date().getTime();
    } else {
      image_url = base_image_url;
    }
    $("#synced-image").attr("src", image_url);
  }

  function updateSongText(name, artists, tempo) {
    console.log(tempo);
    let name_str = "";
    if (name) {
      name_str += name;
      if (artists) {
        name_str += " - ";
        for (var i = 0; i < artists.length; i++) {
          name_str += artists[i];
          if (i !== artists.length - 1) {
            name_str += ", ";
          }
        }
      }
      $("#song-name").text(name_str);
    } else {
      $("#song-name").text("No song is playing right now!");
    }
    if (tempo !== null) {
      $("#song-tempo").text(Math.round(tempo) + " BPM");
    } else {
      $("#song-tempo").text("");
    }
  }

  function toggleEditForm() {
    $("#edit-choice").toggle();
    $("#edit-form").toggle();
  }

  function validateEditForm(data) {
    let update = false;
    if (data["status"] === "error") {
      $("#alert-placeholder").append(
        "<div class='alert alert-danger'>" + data["reason"] + "</div>"
      );
      alertTimeout(5000);
      return;
    }
    if (data["gif_name"] !== current_gif_name) {
      new_id = data["gif_id"];
      window.location.replace(base_show_url + "?gif_id=" + new_id);
      return;
    }
    if ("gif_tempo" in data) {
      custom_tempo = parseInt(data["gif_tempo"]);
      update = true;
    } else {
      custom_tempo = null;
    }
    if (current_gif_bpl !== parseInt(data["gif_bpl"])) {
      current_gif_bpl = parseInt(data["gif_bpl"]);
      update = true;
    }
    custom_tempo_flag = true;
    // if (update) {
    //   updateGif();
    // }
    toggleEditForm();
  }

  function submitEditForm() {
    let post_url = base_edit_url;
    let new_name = $("#gif-name").val();
    let new_bpl = $("#beats-per-loop").val();
    let new_tempo = $("#gif-tempo").val();
    let changed = false;
    if (new_name !== current_gif_name) {
      if (new_name.length === 0) {
        $("#alert-placeholder").append(
          "<div class='alert alert-danger'>" +
            "Gif name cannot be blank!" +
            "</div>"
        );
        alertTimeout(5000);
        return;
      }
      post_url += "&name=" + encodeURIComponent(new_name);
      changed = true;
    }
    if (new_bpl != current_gif_bpl) {
      if (new_bpl.length === 0) {
        $("#alert-placeholder").append(
          "<div class='alert alert-danger'>" +
            "Beats per loop cannot be blank!" +
            "</div>"
        );
        alertTimeout(5000);
        $("#beats-per-loop").val(current_gif_bpl);
        return;
      }
      post_url += "&bpl=" + encodeURIComponent(new_bpl);
      changed = true;
    }
    if (new_tempo !== custom_tempo) {
      if (new_tempo) {
        if (new_tempo < 0) {
          $("#alert-placeholder").append(
            "<div class='alert alert-danger'>" +
              "Custom tempo must be positive!" +
              "</div>"
          );
          alertTimeout(5000);
          return;
        }
        post_url += "&tempo=" + encodeURIComponent(new_tempo);
      } else {
        post_url += "&tempo=0";
      }
      changed = true;
    }
    if (changed) {
      $.ajax({
        method: "POST",
        url: post_url,
      }).done(validateEditForm);
    } else {
      toggleEditForm();
    }
  }

  function applyOnEnter(event) {
    if (event.keyCode == 13) {
      $("#apply-btn").click();
    }
  }

  $("#edit-btn").on("click", toggleEditForm);
  $("#apply-btn").on("click", submitEditForm);
  $("#beats-per-loop").keypress(applyOnEnter);
  $("#gif-name").keypress(applyOnEnter);
  $("#gif-tempo").keypress(applyOnEnter);

  updateLoop();
</script>
{% endblock js %}
