<!doctype html>
<html lang="en">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta %}
        {% endblock meta %}
        <!-- FAVICON Reference for newer browsers -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- BOOTSTRAP CSS LINK -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">

        <!-- MAIN CSS LINK AND FONTS LINK -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:bold|Ubuntu:bolditalic|Ubuntu:italic">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='css/skeleton.css') }}">

        <!-- PAGE SPECIFIC CSS LINKS -->
        {% block styles %}
        {% endblock styles %}

        <!-- PAGE TITLE -->
        {% if title %}
            <title>GifSync - {{ title }}</title>
        {% else %}
            <title>GifSync</title>
        {% endif %}
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-custom navbar-expand-sm fixed-top">
            <!-- BRAND -->
            <a href="{{ url_for('home') }}" class="navbar-brand">GifSync</a>
            <!-- TOGGLER for when screen size becomes too small (mobile devices in particular) -->
            <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- NAVBAR ITEMS wrapped in collapse div so the elements can be snapped into a dropdown view when too small
                 (mobile devices in particular) -->
            <div id="navbarMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <!-- BUTTON "About GifSync" -->
                    <li class="nav-item">
                        <a class="btn btn-custom-green shadow-none" type="button" href="{{ url_for('home') }}">
                            <img class="btn-icon" src="{{ url_for('static', filename='img/info-icon.svg') }}" />
                            About GifSync
                        </a>
                    </li>
                    <!-- BUTTON "Connect Spotify" -->
                    <li class="nav-item">
                        <a class="btn btn-custom-green shadow-none" type="button" href="{{ url_for('create') }}">
                            <img class="btn-icon" src="{{ url_for('static', filename='img/account-icon-black.svg') }}" />
                            Connect Spotify
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- CONTAINER for all other page content -->
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock content %}
        </div>
        <!-- FOOTER -->
        <footer class="page-footer">
            <div class="footer-copyright text-center py-3">
                © Copyright 2020 | <a target="_blank" rel="noopener noreferrer"
                    href="https://github.com/Septem151/gifsync/blob/master/LICENSE.txt">MIT License</a>
                 | Made with Flask, Bootstrap, and ❤
            </div>
        </footer>
        <!-- BOOTSTRAP JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <!-- PAGE SPECIFIC JS -->
        <script src="{{ url_for('static', filename='js/timeoutFlashes.js') }}"></script>
        {% block js %}
        {% endblock js %}
    </body>
</html>
