/* Logo Styling */
.logo {
    /* Margin is added to the bottom to space out page text from the logo */
    width: 128px;
    height: 128px;
    margin-bottom: 32px;
}

/* Header Text Styling */
.header {
    font-weight: bold;
    font-size: 24px;
    /* Margin is added to the left to make headers stand apart from body text, and margin bottom to space out
       header from the body text */
    margin-bottom: 18px;
}

.custom-file-input ~ .custom-file-label::after {
    color: #181818;
    font-weight: bold;
    background-color: #1db954;
}

/* Remove focus border from File Select */
input[type=file]:focus, .custom-file-input:focus ~ .custom-file-label {
    border-color: #1db954;
    box-shadow: none;
}

/* Change cursor to pointer on File Select */
.custom-file,
.custom-file-label,
.custom-file-input {
    cursor: pointer;
}

.form-control:focus {
    border-color: #1db954;
    box-shadow: none;
}


input[type=number] {
    width: 80px;
    margin-left: 40px;
}

/* Center Form on screens */
.form-center {
    display: block;
    width: 40%;
    /* Margin added to bottom to separate form from the footer a little more */
    margin: 0 auto 32px auto;
}

/* Smooth out the scaling of the Form when changing resolution */
@media (max-width: 768px) {
    .form-center {
        display: block;
        width: 60%;
        margin: 0 auto 32px auto;
    }
}

/* Make form take up more space when on phone screens */
@media (max-width: 45em) {
    .form-center {
        display: block;
        width: 70%;
        margin: 0 auto 32px auto;
    }
}
