/* Link Base Styling */
a {
    font-weight: bold;
    color: #1db954;
}

/* Link Hover Styling */
a:hover {
    color: #20cb5c;
}

/* Logo Styling */
.logo {
    /* Margin is added to the bottom to space out page text from the logo */
    width: 256px;
    height: 256px;
    margin-bottom: 32px;
}

/* Title Text Styling */
.title {
    color: #1db954;
    font-weight: bold;
    font-size: 24px;
    /* Margin is added to the bottom to space out title from the rest of the page's text for emphasis */
    margin-bottom: 64px;
}

/* Header Text Styling */
.header {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    /* Margin is added to the left to make headers stand apart from body text, and margin bottom to space out
       header from the body text */
    margin-left: 30px;
    margin-bottom: 18px;
}

/* Regular Text Styling */
.textblock {
    /* Margin is added to the bottom so subsequent header/textblock combos will be spaced apart */
    margin-bottom: 64px;
}