/* Header Text Styling */
.header {
  font-weight: bold;
  font-size: 24px;
}

.top-bar {
  margin-bottom: 32px;
}

.form-control:focus {
  border-color: #1db954;
  box-shadow: none;
}

input[type="number"] {
  width: 80px;
  margin-left: 40px;
}

/* Center Form on screens */
.form-left {
  display: block;
  /* width: 40%; */
  /* Margin added to bottom to separate form from the footer a little more */
  margin: 0 auto 32px 2rem;
}

/* Smooth out the scaling of the Form when changing resolution */
@media (max-width: 768px) {
  .form-center {
    display: block;
    /* width: 60%; */
    margin: 0 auto 32px 2rem;
  }
}

/* Make form take up more space when on phone screens */
@media (max-width: 45em) {
  .form-center {
    display: block;
    /* width: 70%; */
    margin: 0 auto 32px 2rem;
  }
}
